@model List<hypster_tv_DAL.c_Mix>
@{
    ViewBag.Title = "Hypster - free music online";
    Layout = "~/Views/Shared/_LayoutT.cshtml";
}


<div style=" float:left; width:100%; min-height:10px; overflow:hidden; margin-top:0px; ">

    @foreach (var item in Model)
    {
        if (@item.Mix_Cover != null)
        {
            <a href="/listen/mix/@item.Mix_ID" style=" float:left; width:95px; margin:3px; background-color:#353535; padding:2px; border-radius:2px;">
                <img alt="" src="@item.Mix_Cover" width="90" style=" margin-top:2px;" />
                <span style=" display:block; float:left; width:100%; height:18px; line-height:18px; overflow:hidden;">
                    @item.Mix_Name
                </span>
            </a>
        }
    } 

</div>